.medium {
    font-family: 'Poppins-Medium' !important;
}
.dmsans {
    font-family: 'DMSans-Regular' !important;
}
.light {
    font-family: 'Poppins-Light' !important;
}
.bold {
    font-family: 'Poppins-Bold' !important;
}
#root {
    /* height: 100%; */
    background-color: #e5e1f1;
}
.splash {
    width: 100%;
    text-align: center;
    height: 1.5em;
}
.splash-title {
    font-size: 5em !important;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: white !important;
}

.homebutton {
    background-color: white !important;
    width: 30%;
    border-radius: 20px !important;
    box-shadow: 0.25em 0.5em #cac0e6;
    font-size: 3em !important;
    height: 2.5em;
}

.homebuttoncontainer {
    display: flex;
    justify-content: space-around;
    height: 1em;
    width: 80% !important;
}

.homepage {
    position: relative;
    transform: translate(5%, 60%);
    width: 100% !important;
    margin: 0 0 !important; 
}

.sign-in {
    width: 50%;
    text-align: center;
    align-items: center;
    box-shadow: 0.75em 1.25em #cac0e6;
    border-radius: 20px !important;
    border-color: transparent; 
    height: 100% !important;
}

.sign-in-button {
    border-radius: 0px !important;
    width: 40%;
    padding: 30% 0;
}

.left {
    text-align: left;
}

a {
    color: black !important;
}

.form-label {
    padding-left: 1em;
    margin-bottom: 0em;
    margin-top: 1em;
}
.card-body {
    width: 60%;
    height: 60%;
}
.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    height: 100%;
}

.dropdown {
    color: '#212529';
    border: 1px solid #ced4da
}

.course-assignment-page {
    background-color: white !important;
    grid-area: right;
    padding: 5% 0;
    width: 90%;
}

.course-assignment-container {
}

.user-dropdown {
    border: none;
}

.user-dropdown:hover {
    background-color: white !important;
}

.course-assignment-body {
    margin: 0.5em 1em;
    font-family: 'Poppins-Medium';
}

.course-assignment-card {
    margin: 2em 0em;
    border-radius: 20px !important;
    box-shadow: 0.75em 1.25em #cac0e6;
    /* display: grid !important;
    grid-template-columns: 10fr 1fr; */
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
}

.course-assignment-dropdown {
    border: none !important;
    height: 100%;
    margin: 1em 0.5em;
}

.course-assignment-button {
    background-color: white !important;
    border: none !important;
}

.sidebar {
    grid-area: left;
    background-color: #cac0e6;
    width: 15em !important;
}
.sidebar-item {
    margin: 0;
    padding: 10% 10%;
}

.link:hover, .sidebar-active {
    background-color: #aea0e6
}


.clickable:hover {
    cursor: pointer;
}

.dashboard {
    background-color: white !important;
    height: 100% !important;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-areas: 'left right right right right right right right'; 
}

.assignmenteditbutton {
    background-color: #aea0e6 !important;
    width: 50%;
    border-radius: 40px !important;
    font-size: 1.5em !important;
    height: 3.75em;
}

.assignmenteditbuttoncontainer {
    display: flex;
    justify-content: space-around;
    height: 8em;
    width: 80% !important;
}

.assignmentgradebutton {
    background-color: #aea0e6 !important;
    width: 100%;
    border-radius: 40px !important;
    font-size: 0.6em !important;
    height: 3em;
    padding: 0.02em !important
}

.assignmentgradebuttoncontainer {
    display: flex;
    justify-content: space-around;
    height: 2em;
    width: 80% !important;
}

a:link {
    text-decoration: none;
}

.t {
    width: 80% !important;
}

#root {
    height: 100%;
}
