.medium {
    font-family: 'Poppins-Medium' !important;
}
.dmsans {
    font-family: 'DMSans-Regular' !important;
}
.light {
    font-family: 'Poppins-Light' !important;
}
.bold {
    font-family: 'Poppins-Bold' !important;
}
#root {
    /* height: 100%; */
    background-color: #e5e1f1;
}
.splash {
    width: 100%;
    text-align: center;
    height: 1.5em;
}
h1 {
    font-size: 5em !important;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #e5e1f1 !important;
}

.homebutton {
    background-color: white !important;
    width: 30%;
    border-radius: 20px !important;
    box-shadow: 0.25em 0.5em #cac0e6;
    font-size: 3em !important;
    height: 2.5em;
}

.homebuttoncontainer {
    display: flex;
    justify-content: space-around;
    height: 1em;
    width: 80% !important;
}

.homepage {
    position: relative;
    transform: translateY(100%);
}

.sign-in {
    width: 50%;
    text-align: center;
    align-items: center;
    box-shadow: 0.75em 1.25em #cac0e6;
    border-radius: 20px !important;
    border-color: transparent; 
    height: 100% !important;
}

.sign-in-button {
    border-radius: 0px !important;
    width: 40%;
    padding: 30% 0;
}

.left {
    text-align: left;
}

a {
    color: black !important;
}

.form-label {
    padding-left: 1em;
    margin-bottom: 0em;
    margin-top: 1em;
}
.card-body {
    width: 60%;
    height: 60%;
}
.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15% 0;
    height: 100%;
}

.dropdown {
    color: '#212529';
    border: 1px solid #ced4da
}

.course-page {
    /* background-color: white; */
}

.course-container {
}

.user-dropdown {
    border: none;
}

.user-dropdown:hover {
    background-color: white !important;
}

.course-body {
    margin: 0.5em 1em;
    font-family: 'Poppins-Medium';
}

.course-card {
    margin: 2em 0em;
    border-radius: 20px !important;
    box-shadow: 0.75em 1.25em #cac0e6;
    /* display: grid !important;
    grid-template-columns: 10fr 1fr; */
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
}

.course-dropdown {
    border: none !important;
    height: 100%;
    margin: 1em 0.5em;
}

.course-button {
    background-color: white !important;
    border: none !important;
}